*{
    box-sizing: border-box;
}

#container{
    display: flex;
    border: 1px dotted yellow;
    width: 50%;
    margin: 0px auto;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1%;
    
}



.box{
    /*width: 20%;*/
    aspect-ratio: 1/1;
    flex: 1 0 21%;
}

.blue{
    background-color: blue;
}

button{
    display: flex;
    width: 25%;
    margin: 0 auto;
    justify-content: center;
}